.sidebar h2 {
    color: #009593;
    background-color: #d3d3d3;
    padding: 20px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #424242;
    overflow-x: hidden;
  }
  
  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Active link style */
  .active {
    color: #4CAF50; /* Green color for active state */
    background-color: #333; /* Darker background for the active link */
  }
  